/* ===== RESET ===== */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* ===== BODY ===== */

body{
font-family:'Poppins',sans-serif;
background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
                url("../static/background4.jpg");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
color:white;
min-height:100vh;

display:flex;
flex-direction:column;
}

/* ===== NAVBAR ===== */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
}

/* NAVBAR LINKS */

.navbar ul{
list-style:none;
display:flex;        /* horizontal */
gap:30px;
}

.navbar ul li a{
text-decoration:none;
color:white;
font-size:28px;
}

/* ===== CARD ===== */

.card{
width:420px;
margin:140px auto;
padding:40px;

background:#203a43;
border-radius:12px;
text-align:center;
}

/* FILE INPUT */

input[type="file"]{
margin:25px 0;
}

/* BUTTON */

.btn{
padding:12px 30px;
border:none;
border-radius:25px;

background:#00c6ff;
color:white;

cursor:pointer;
font-size:28px;
}

/* BUTTON HOVER */

.btn:hover{
background:#0095cc;
}

/* ===== FOOTER ===== */

footer{
margin-top:auto;
text-align:center;
padding:20px;
font-size:14px;
opacity:0.8;
}

/*======DROP DOWN=====*/
/* ---------- Market Dropdown ---------- */

.dropdown{

    width:100%;

    padding:12px;

    font-size:16px;

    border-radius:10px;

    border:1px solid #ccc;

    outline:none;

    cursor:pointer;

    transition:0.3s;
}

.dropdown:hover{

    border-color:#0077cc;

}

.dropdown:focus{

    border-color:#0077cc;

    box-shadow:0 0 8px rgba(0,119,204,0.3);

}

/* Search Box */
#companySearch{
    width:100%;
    padding:12px 15px;
    font-size:16px;
    border-radius:8px;
    border:1px solid #ccc;
    outline:none;
    box-sizing:border-box;
}

#companySearch:focus{
    border-color:#00bfff;
    box-shadow:0 0 8px rgba(0,191,255,0.5);
}

/* Suggestions Dropdown */
#suggestions{
    position:absolute;
    top:100%;
    left:0;

    width:100%;
    max-height:250px;

    overflow-y:auto;

    background:#ffffff;

    border:1px solid #dcdcdc;
    border-radius:8px;

    box-shadow:0 8px 18px rgba(0,0,0,0.18);

    display:none;

    z-index:999;
}

/* Each suggestion */
.suggestion-item{

    padding:10px 14px;

    cursor:pointer;

    border-bottom:1px solid #eee;

    transition:0.2s;

}

.suggestion-item:last-child{
    border-bottom:none;
}

.suggestion-item:hover{
    background:#eaf6ff;
}

/* Company Name */
.company-name{
    font-weight:bold;
    color:#222;
    font-size:15px;
}

/* Symbol */
.company-symbol{
    color:#0077cc;
    font-size:13px;
}

/* Exchange */
.company-exchange{
    float:right;
    color:#888;
    font-size:12px;
}

/* Search container */
.search-container{
    position:relative;
    width:100%;
}